<div id="region-main">
    {{#hasregionmainsettingsmenu}}
        <div class="region_main_settings_menu_proxy"></div>
    {{/hasregionmainsettingsmenu}}
    {{#overflow}}
        <div class="container-fluid tertiary-navigation">
            <div class="navitem">
                {{> core/url_select}}
            </div>
        </div>
    {{/overflow}}
    {{{ output.main_content }}}
</div>