<!DOCTYPE html>
<html id="astroid-html" data-bs-theme="{{color_mode_theme}}">
<head>
    <meta charset="utf-8" />
    <meta name="generator" content="Moon Framework | Theme Manager" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{favicon}}">
    <link href="{{favicon}}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{{stylesheets}}}
    <script type="application/json" id="astroid-script-options">{{{script_options}}}</script>
    {{{head_scripts}}}
</head>
<body>
<div id="astroid-app"></div>
{{{body_scripts}}}
</body>
</html>