<div class="{{header.burgerClass}}"><div class="header-mobilemenu-trigger burger-menu-button align-self-center" data-offcanvas="#moon-mobilemenu" data-effect="mobilemenu-slide"><button aria-label="Mobile Menu Toggle" class="button" type="button"><span class="box"><span class="inner"><span class="visually-hidden">Mobile Menu Toggle</span></span></span></button></div></div>