<header id="moon-header" class="{{header.class}}">
    <nav class="header-stacked-section navbar navbar-expand justify-content-between flex-column w-100">
    {{#header.is_center_balance}}
    <div class="astroid-header-center-balance w-100 d-flex justify-content-center">
        {{> local_moon/header/includes/burger }}
    </div>
    {{/header.is_center_balance}}
    </nav>
</header>