.drawer.drawer-right {
  background-color: var(--mf-offcanvas-backgroundcolor);
  color: var(--mf-offcanvas-text-color);
  h1, h2, h3, h4, h5, h6 {
    color: var(--mf-offcanvas-heading-color);
  }
  a {
    color: var(--mf-offcanvas-link-color);
    &.active {
      color: var(--mf-offcanvas-active-link-color);
    }
    &:hover {
      color: var(--mf-offcanvas-link-hover-color);
    }
  }
  .btn.btn-icon.drawertoggle {
    color: var(--mf-offcanvas-toggle-color);
  }
}
.drawer-toggles .drawer-right-toggle .btn {
  background-color: var(--mf-offcanvas-backgroundcolor);
  color: var(--mf-offcanvas-toggle-color);
}